main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* About card */
.about {
  width: 90%;
  max-width: 1000px;
  padding: 2em;
  border-radius: 0.3125em;
  background-color: bisque;
}

.about__title {
  padding-bottom: 0.5em;
}
