*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -- permet de retirer les bords et mettre les éléments dans l'epace contenant l'ensemble de la page HTML -- */

.wrapper {
    height: 100svh;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr max-content;
    grid-template-areas:
        'header header'
        'navbar main'
        'navbar footer';
    /* --- pattern : permet de donner un ordre dans lequel on pourra aooeker les éléments par la suite --- */
}

/* --- éléments commun à tous les formats --- */
h1,
h3 {
    text-align: center;
}

.header {
    grid-area: header;
    height: 10svh;
    /* --- warning : jeremy retired it --- */
}

.navbar {
    grid-area: navbar;
}

.main {
    background-color: antiquewhite;
    grid-area: main;
    overflow-y: auto;
}

.footer {
    grid-area: footer;
    height: 15svh;
    /* --- warning : jeremy retired it --- */
}

/* --- mobil --- */
 @media screen and (max-width : 426px) {
    body {
        display: flex;
        justify-content: center;
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* -- on retire cette barre de navigation pour laisser place à celle de la version mobile -- */
    #navpage {
        display: none;
    }

    #for_mobil {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        list-style: none;
        margin : 0px 10px 20px 10px;
        background-color: rgba(118, 231, 131, 0.715);
        padding: 5px 0 5px 0;
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 2px 2px darkgreen;
        border-radius: 20px;
    }

    #logo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    #logo:hover {
        background-color: rgb(7, 134, 45);
        border-radius: 20px;
        padding: 5px 5px 5px 5px;
        box-shadow: 0 0px 2px 2px gray;
    }

    .general_info,
    .password,
    .contact_details {
        background-color: rgb(118, 231, 131);
        box-shadow: 0px 0px 2px 1px gray;
        border-radius: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 5px;
        padding : 50px 40px 0px 40px;
        margin: 0px 10px 20px 10px;
    }

    .general_info p,
    .password p,
    .contact_details p {
        font-size: 20px;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .general_info label,
    .password label,
    .contact_details label {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 3px;
        text-align: center;
    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 200px;
        height: 35px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 15px;
    }

    input {
        height: 20px;
        width: 400px;
        max-width: 200px;
        background-color: rgb(234, 223, 207);
        border-color: rgba(128, 128, 128, 0.733);
        font-size: 15px;
    }

    /* -- espace changement et ajout moyens de paiements -- */
    .payment {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .credit {
        margin: 10px 20px 10px 20px;
        width: 50px;
        height: 50px
    }

}

/* --- tablet--- */
@media screen and (min-width : 426px) and (max-width : 1070px) {
    .title {
        display: flex;
        flex-direction: column;
        padding: 5px 0px 0px 10px;
    }

    li {
        padding: 5px 5px 5px 5px;
    }

    /* -- on retire la barre de navigation mobile pour laisser pllace à celle de l'oridnateur et de la tablette -- */
    #for_mobil {
        display: none;
    }

    #navpage {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align:left;
        flex-wrap: wrap;
        padding: 5px 5px 5px 5px;
        margin : 20px 150px 0px 150px;
        font-size: 20px;
        font-weight: bold;
        background-color: rgb(118, 231, 131);
        border-radius: 20px;
        position: sticky;
        top: 0;
        box-shadow: 0px 0px 2px 2px darkgreen;
        margin: 2px 10px 2px 10px;
    }

    nav a {
        text-decoration-line: none;
        color: black;
        position: relative;
        padding: 0px 15px 0px 15px;
        z-index: +1;
    }

    #hoover1::before,
    #hoover2::before,
    #hoover3::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background: rgb(11, 101, 10);
        z-index: -1;
        transition: .2s all;
    }

    #hoover1:hover::before,
    #hoover2:hover::before,
    #hoover3:hover::before {
        width: 100%;
        box-shadow: 0px 0px 2px 1px rgb(20, 101, 10);
    }

    #hoover1:hover,
    #hoover2:hover,
    #hoover3:hover {
        color: white;
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profil {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .general_info,
    .password,
    .contact_details {
        background-color: rgb(118, 231, 131);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 50px 20px 50px;
        padding: 30px 0px 20px 0px;
        gap: 10px;
        width: 70%;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 1px gray;
    }

    .general_info p,
    .password p,
    .contact_details p {
        font-size: 20px;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .general_info label,
    .password label,
    .contact_details label {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 3px;
        text-align: center;
    }

    button {
        width: 100%;
        max-width: 200px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 15px;
    }

    input {
        height: 40px;
        width: 100%;
        max-width: 400px;
        background-color: rgb(234, 223, 207);
        border-color: rgba(128, 128, 128, 0.733);
        font-size: 15px;
    }

    .payment {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .credit {
        margin: 10px 20px 10px 20px;
        width: 50px;
        height: 50px
    }

}

/* --- laptop --- */
@media screen and (min-width : 1070px) {
    .title {
        display: flex;
        flex-direction: column;
        padding : 5px 0px 0px 5px;
    }

    .page_profil {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    #navpage {
        background-color: rgb(118, 231, 131);
        box-shadow: 0px 0px 2px 2px darkgreen;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 10px 10px 10px;
        margin : 20px 100px 0px 100px;
        gap:10%;
        font-size: 20px;
        font-weight: bold;
        position: sticky;
        top: 0;
        border-radius: 20px;
    }

    #for_mobil {
        display: none;
    }

    nav a {
        text-decoration-line: none;
        color: black;
        position: relative;
        padding: 0px 15px 0px 15px;
        z-index: +1;
        position: sticky;
        scroll-snap-align:inherit;
    }

    #hoover1::before,
    #hoover2::before,
    #hoover3::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background: rgb(11, 101, 10);
        z-index: -1;
        transition: .2s all;
    }

    #hoover1:hover::before,
    #hoover2:hover::before,
    #hoover3:hover::before {
        width: 100%;
        box-shadow: 0px 0px 2px 1px rgb(20, 101, 10);
    }

    #hoover1:hover,
    #hoover2:hover,
    #hoover3:hover {
        color: white;
    }

    .category {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .profil {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .general_info,
    .password,
    .contact_details {
        background-color: rgb(118, 231, 131);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 50px 20px 50px;
        padding : 30px 0px 20px 0px;
        gap: 10px;
        width: 70%;
        border-radius: 20px;
        box-shadow: 0px 0px 2px 1px gray;
    }

    .general_info p,
    .password p,
    .contact_details p {
        font-size: 20px;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .general_info label,
    .password label,
    .contact_details label {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 3px;
        text-align: center;
    }

    button {
        width: 100%;
        max-width: 200px;
        height: 40px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 15px;
    }

    input {
        height: 40px;
        width: 100%;
        max-width: 400px;
        background-color: rgb(234, 223, 207);
        border-color: rgba(128, 128, 128, 0.733);
        font-size: 15px;
    }

    .payment {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .credit {
        margin: 10px 20px 10px 20px;
        width: 50px;
        height: 50px
    }

}