:root {
  --vente-corner-radius: 0.3125em;
  --vente-margin-block: 1em;
  --vente-btn-bg: hsl(117, 70%, 42%);
  --vente-btn-bg-hover-focus: hsl(117, 70%, 40%);
  --vente-btn-bg-active: hsl(117, 70%, 41%);
}

*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global */
img {
  width: 100%;
}

img,
.card__btn {
  display: block;
}

/* Page */
.page__title {
  padding-block: 2em;
}

/* Galery of card */
.galery {
  width: 90%;
  max-width: 1200px;
  margin-block: 4.125em;
  margin-inline: auto;
}

.galery--grid {
  gap: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* A actual card */
.card,
.card__btn {
  border-radius: var(--vente-corner-radius);
}

.card {
  box-shadow: 0 0 0.5em 0 hsla(0, 0%, 0%, 50%);
  background-color: hsl(0, 0%, 98%);
}

.card__img {
  border-top-left-radius: var(--vente-corner-radius);
  border-top-right-radius: var(--vente-corner-radius);
}

.page__title,
.card__title,
.card__desc,
.card__price,
.card__btn {
  text-align: center;
}

.card__title,
.card__desc,
.card__rate,
.card__price {
  padding-inline: 1.5em;
}

.card__title {
  padding-block-start: var(--vente-margin-block);
}

.card__rate,
.card__btn {
  padding-block: var(--vente-margin-block);
}

.card__rate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__rate-img {
  width: 1.25em;
}

.card__opinion {
  color: hsla(0, 0%, 25%, 75%);
  margin-left: 0.5em;
}

.card__price {
  padding-block-end: var(--vente-margin-block);
}

.card__btn {
  width: 80%;
  color: hsl(0, 0%, 0%);
  margin-inline: auto;
  text-decoration: none;
  background-color: var(--vente-btn-bg);
  margin-block-end: var(--vente-margin-block);
}

.card__btn:hover,
.card__btn:focus {
  background-color: var(--vente-btn-bg-hover-focus);
}

.card__btn:active {
  background-color: var(--vente-btn-bg-active);
}

/* ============================== REPONSE PART ============================== */
/* DESKTOP */
@media screen and (max-width: 1200px) {
  .galery--grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* TABLET */
@media screen and (max-width: 800px) {
  .galery--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* MOBILE */
@media screen and (max-width: 500px) {
  .galery--grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
